.autism-row{
    margin-top: 80px;
    align-items: center;
   
}


.autism-img{
    width: 100%;
    text-align: center;
    width: 100%;
    padding: 50px; 
   

}

.autism-p{
    text-align: center;
    padding: 50px;  
    line-height: 25px;
    margin-top: 20px;    
    
}